body {
  height: inherit;
  font-weight: 500;
  display: block;
  margin: auto;
  max-width: 1366px;
  position: relative;
  color: black;
  font-family: "Urbanist",sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden; }

nav {
  position: fixed;
  color: #b80062;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  nav h5 {
    margin-top: 10px; }

nav .mainMenu {
  display: flex;
  list-style: none; }

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem; }

nav .mainMenu li a:hover {
  color: #b80062; }

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer; }

nav .mainMenu .closeMenu, .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer; }

nav .logo {
  margin: 6px;
  font-size: 25px;
  font-weight: lighter; }

@media (max-width: 800px) {
  nav .logo {
    margin-top: 30px; }
  nav .mainMenu {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8e5ec;
    transition: top 1s ease;
    display: none; }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; }
  nav .openMenu {
    display: block; }
  nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
    color: #b80062; }
  .loopHolder {
    overflow-x: hidden; } }

/*animacion portfolio*/
.loopHolder {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 1;
  display: flex;
  white-space: nowrap; }

.loopHolder__text {
  font-family: "ObjectSans",sans-serif;
  font-weight: 700;
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 1px #323232;
  font-size: 20vw;
  font-weight: 600;
  -webkit-animation: textLoop 55s linear infinite;
  animation: textLoop 55s linear infinite;
  animation-duration: 55s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: textLoop; }

@keyframes textLoop {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }

/*footer*/
.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px; }

.flexContainer__element1 {
  display: flex;
  justify-content: space-around;
  font-size: 2rem; }

.flexContainer__element2 {
  display: flex;
  justify-content: space-between; }
  .flexContainer__element2 a:hover {
    color: #b80062; }
  .flexContainer__element2 li {
    display: inline-block;
    font-size: 1.5rem; }

.footer-basic {
  padding: 20px 0;
  background-color: #ffffff;
  color: #000000; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0; }

.footer-basic li {
  padding: 0 10px; }

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-basic ul a:hover {
  color: #b80062; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: #b80062;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

.instagram {
  margin-left: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-image: url("../IMG/instagram.png"); }

.linkedin {
  margin-left: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-image: url("../IMG/linkedin.png"); }

@media screen and (max-width: 700px) {
  .flexContainer {
    display: block;
    text-align: center;
    float: none;
    justify-content: center; }
  .flexContainer__element1 {
    display: flex;
    justify-content: center; }
  body {
    overflow-x: hidden; } }

.titulo1 {
  padding-left: 30px;
  width: 50vw; }

.titulo2 {
  width: 100vw;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 230%; }

a {
  text-decoration: none;
  color: black; }

/*logo y numero*/
.contenedorFlex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 10px; }

.contenedorFlex__image {
  position: relative;
  left: 47%;
  width: 7%; }

h2 {
  font-size: 250%; }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 100%; }
  h2 {
    font-size: 100%; }
  p {
    font-size: 50%; }
  .contenedorFlex {
    display: block;
    text-align: center; } }

img {
  max-width: 100%; }

.image4 {
  width: 50%;
  position: relative;
  left: 300px; }

.index {
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 30px;
  justify-content: center; }

.index__element {
  display: inline-block; }

.index__element2 {
  display: inline-block;
  padding-top: 30%; }

/*index*/
.contenedorIndex {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; }

.contenedorIndex__element {
  width: 100vw;
  padding: 30px;
  text-align: center; }
  .contenedorIndex__element h1 {
    font-size: 7vw; }
  .contenedorIndex__element a:hover {
    color: #b80062; }

.contenedorIndexGrid {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; }

.contenedorIndexGrid__element {
  width: 100vw;
  padding: 30px;
  text-align: center; }
  .contenedorIndexGrid__element h1 {
    font-size: 7vw; }
  .contenedorIndexGrid__element a:hover {
    color: #b80062; }

@media screen and (max-width: 1365px) {
  .contenedorIndex {
    display: block; }
  .contenedorIndexGrid {
    display: flex;
    flex-direction: column-reverse; } }

/*memoria vivida*/
.memoriaVivida {
  background: #ddbdbd;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 30px; }

.memoriaVivida__element {
  width: 100vw;
  padding: 30px; }

.gridMemoriaVivida {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 30px; }

.gridMemoriaVivida__text {
  font-size: 5vw;
  letter-spacing: 4.5vw;
  font-weight: bold;
  text-align: center; }

.gridMemoriaVivida__parrafo1 {
  color: #2b2929; }

.gridMemoriaVivida__parrafo2 {
  color: #565252; }

.gridMemoriaVivida__parrafo3 {
  color: #817b7b; }

.gridMemoriaVivida__parrafo4 {
  color: #aca4a4; }

@media screen and (max-width: 1365px) {
  .gridMemoriaVivida {
    display: block; } }

/*producciones.html*/
.imgGaleria {
  width: 100%;
  height: 300px; }
  .imgGaleria:hover {
    border: 5px solid #ddbdbd; }

.contenedorDerroche {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px; }

.contenedorDerroche_item {
  width: 95%;
  justify-content: center;
  margin-left: 1.2vw; }

.informacion {
  background-color: #ddbdbd;
  width: 100%;
  padding: 3vw; }

.illustrazioni {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px; }
  .illustrazioni img {
    width: 80%; }

.illustrazioni2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px; }
  .illustrazioni2 img {
    width: 60%; }

.gridMemoriaVivida__parrafo1 {
  color: #2b2929; }

.gridMemoriaVivida__parrafo2 {
  color: #565252; }

.gridMemoriaVivida__parrafo3 {
  color: #817b7b; }

.gridMemoriaVivida__parrafo4 {
  color: #aca4a4; }

/*otra cosa
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 50px;
}
.column {
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  position: relative;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
*/
/*descripcion de producciones*/
.descripcion {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-top: 30px; }

/*contacto*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #ddbdbd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #b80062; }

.contenedor {
  border-radius: 5px;
  padding: 20px; }

.containerFlex {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  height: 80vh;
  padding-top: 100px;
  text-align: center;
  justify-content: space-around; }

/*productos: taza, tote bag, cuaderno*/
.parentGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5%;
  padding-left: 15%;
  margin-bottom: 50px; }

.parentGrid__btn--style {
  background-color: #ddbdbd;
  padding: 12px 20px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .parentGrid__btn--style:hover {
    background-color: #b80062;
    color: white; }

@media screen and (max-width: 800px) {
  .parentGrid {
    display: block;
    padding-left: 0%; } }

@media screen and (max-width: 600px) {
  .parentGrid {
    display: block;
    padding-left: 0%; } }

.backgroundImage {
  width: 100px;
  height: 100px;
  background-color: black; }

.contenedor_danza {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px; }

.z-index {
  position: absolute;
  z-index: 3; }
