<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden rain</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header">
            <span class="titulo1">Agustina Vujovich</span>
        <div class="header-right">
            <a href="index.html">HOME</a>
            <a href="producciones.html">PRODUCCIONES</a>
            <a href="ilustraciones.html">ILUSTRACIONES</a>
            <a href="shop.html">SHOP</a>  
            <div class="cursor"></div>
        </div>
      </div>
    </header>
   <br>
   <br>
   <br>
   <br>
   <div class="descripcion">
   <h1>GONDEL RAIN</h1>
   <p>
    La idea del trabajo fue crear un calzado y dos accesorios complementarios poco convencionales a aprtir de formas hechas digitalmente. El calzado creado pertenece a la tendencia Golden Rain.  Preponderan los colores metalizados, las telas texturadas, los cristales y la excentricidad.
   </p>
</div>
<hr>
   <br>
   <br>
   <br>
   
   <div style="position: relative; margin-left: 200px;">
   <img src="IMG/pie1.jpg" width="85%">
   <img src="IMG/pie2.jpg" width="85%">
   <img src="IMG/pie3.jpg" width="85%">
   </div>
   <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <hr>
    <div class="header">
      <span class="titulo1">Agustina Vujovich</span>
  <div class="header-right">
      <a href="aboutme.html">SOBRE MI</a>
      <a href="contacto.html">CONTACTO</a>
  </div>
  <script>
  const cursor = document.querySelector('.cursor');
  
  document.addEventListener('mousemove', e => {
      cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
  })
  </script> 
      </body>
      </html>