<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="estilismos, moda, colección otoño invierno, fotografía, sesión fotográfica, marca.">
    <meta name="description" content="Propuesta fotográfica y de estilismo a partir de la marca Portsaid.">
    <title>Marca/Agustina Vujovich</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">Agustina Vujovich</div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="../views/producciones.html">PRODUCCIONES</a></li>
        <li><a href="../views/ilustraciones.html">ILUSTRACIONES</a></li>
        <li><a href="../views/shop.html">SHOP</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
</nav>
    <div class="descripcion">
        <h1>MARCA</h1>
        <p>A partir de la marca existente Portsaid, se creó una producción de fotos como posible campaña para la marca. Se tuvieron en cuenta los índices estéticos que distinguen a la  msma y se respetó la paleta de colores y el rango etario al cual esta destinada.
        </p>
    </div>
<div class="illustrazioni">
    <img alt="modelo posando cuerpo entero" src="../IMG/produ1.jpg">
    <h1>ESTILISMO</h1>
</div>
<div class="illustrazioni2">
    <img alt="modelo posando plano medio" src="../IMG/produ2.jpg">
</div>
<div class="illustrazioni">
    <img  alt="modelo posando plano americano" src="../IMG/produ4.jpg">
</div>
<div class="illustrazioni2">
    <h1>COLECCIÓN FW</h1>
    <img alt="modelo posando con vestido cuerpo entero" src="../IMG/produ3.jpg">
</div>
    <hr>
    <footer>
        <div class="flexContainer">
            <span>Agustina Vujovich</span>
            <div class="flexContainer__element1">
                <a href="instagram.com/agusvujovich"><div class="instagram"></div></a>
                <a href="https://www.linkedin.com/in/agustina-vujovich-b8a201117/"><div class="linkedin"></div></a>
            </div>
            <div class="flexContainer__element2">
                <ul>
                    <li><a href="../views/aboutme.html">SOBRE MI</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                </ul>
            </div>
        </div>
</footer>
    <script src="app.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <body>
</html>