<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="propuesta estética, moda, monocromático, arte, fotografía, sesión fotográfica">
    <meta name="description" content="Fusión del arte y la moda en esta propuesta estética llamda: Memoria Vivida.">
    <title>Memoria Vivida/Agustina Vujovich</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">Agustina Vujovich</div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="producciones.html">PRODUCCIONES</a></li>
        <li><a href="ilustraciones.html">ILUSTRACIONES</a></li>
        <li><a href="shop.html">SHOP</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
</nav>
<div class="descripcion">
    <h1>MEMORIA VIVIDA</h1>
    <p>
        Combinación de rusticidad con lujo. Sensación de aridez y rigidez. Intervención estructural<br>
        Esqueleto quebradizo. Intensidad monocromática: negro y gris. Textura porosa<br>Arqueología ficticia. Formas no convencionales moldeadas. 
    </p>
 </div>
 <div class="memoriaVivida">
     <div>
         <img alt="rostro de mujer maquillada como roca" src="IMG/memoriavivida.jpg">
     </div>
     <div class="memoriaVivida__element">
         <h3>ÍNDICES ESTÉTICOS</h3>
         <p>"Erosión de los cuerpos" prepondera la desnudación, consunsión y modelación de los elementos del uso cotidiano para el hombre generando superficies texturizadas y 
             de agrado para el ojo humano. Al trastocar el mundo natural con la mano, implica un nexo entre ellos, las formas naturales desgastadas se mimetizan con objetos. 
             De este modo, la intervención de  la naturaleza participará en las diferentes formas del consumo como innovación principal; produciendo una arqueología contemporánea.
             Los cuerpos preponderantes muestran solidez desesrabilizada y un estado de transición (crecimiento - cambio- evolución) propio de la visión del mundo moderno.
         </p>
     </div>
 </div>

 <div class="gridMemoriaVivida">
     <img alt="zapatilla con textura de roca" src="IMG/memoriavivida2.jpg">
     <img alt="modelo sobre rocas" src="IMG/memoriavivida3.jpg">
     <div class="gridMemoriaVivida__text">
         <p class="gridMemoriaVivida__parrafo1">EROSIÓN</p>
         <p class="gridMemoriaVivida__parrafo2">EROSIÓN</p>
         <p class="gridMemoriaVivida__parrafo3">EROSIÓN</p>
         <p class="gridMemoriaVivida__parrafo4">EROSIÓN</p>
     </div>
     <img alt="zapatilla con textura de rocas sostenida por una mano" src="IMG/memoriavivida4.jpg">
 </div>
 <hr>
 <footer>
    <div class="flexContainer">
        <span>Agustina Vujovich</span>
        <div class="flexContainer__element1">
            <a href="instagram.com/agusvujovich"><div class="instagram"></div></a>
            <a href="https://www.linkedin.com/in/agustina-vujovich-b8a201117/"><div class="linkedin"></div></a>
        </div>
        <div class="flexContainer__element2">
            <ul>
                <li><a href="aboutme.html">SOBRE MI</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </div>
    </div>
   </footer>
   <script src="app.js"></script> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   <body>
 </html>