<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="taza de cercamica, ceramica, tazas estampadas, apto microondas.">
    <meta name="description" content="Taza de ceramiza apta para microondas.">
    <title>Mug/Agustina Vujovich</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo"><h5>Agustina Vujovich</h5></div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="../views/producciones.html">PRODUCCIONES</a></li>
        <li><a href="../views/ilustraciones.html">ILUSTRACIONES</a></li>
        <li><a href="../views/shop.html">SHOP</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
</nav>
    <div class="contenedorFlex" >
      <div class="contenedorFlex__image">
      <img  alt="logo" src="../IMG/LOGO SIN LETRAS.png">
      </div>
    </div>
    <div class="parentGrid">
    <div class="parentGrid__image">
          <img alt="taza de ceramica estampada" class="itemMug" src="../IMG/mug.jpg" 20%>
        </div>
        <div class="parentGrid__info">
          <h1>TAZA LINEAS</h1>
        <p>Taza de cerámica blanca.<br>Diseño realizado por computadora.<br>Apto para microondas.</p>
        <h2>$1350</h2>
        <button type="button" class="parentGrid__btn btn btn-primary parentGrid__btn--style" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Añadir al carrito
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Taza Lineas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¡Excelente! Tu producto se añadió al carrito correctamente.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Salvar cambios</button>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  <hr>
  <footer>
    <div class="flexContainer">
        <h5>Agustina Vujovich</h5>
        <div class="flexContainer__element1">
            <a href="instagram.com/agusvujovich"><div class="instagram"></div></a>
            <a href="https://www.linkedin.com/in/agustina-vujovich-b8a201117/"><div class="linkedin"></div></a>
        </div>
        <div class="flexContainer__element2">
            <ul>
                <li><a href="../views/aboutme.html">SOBRE MI</a></li>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
        </div>
    </div>
</footer>
  <script src="app.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <body>
  </html>