<!--redes de footer-->
<div class="redes">
    <a href="https://www.linkedin.com/in/agustina-vujovich-b8a201117/"><img src="IMG/linkedin.png" width="30%"></a>
    <a href="https://www.instagram.com/agusvujovich/"><img src="IMG/instagram.png" width="30%"></a>
  </div>

  <!--estilo de las redes-->
  .redes {
    position:absolute;
    padding-top: 10px;
  }
  .redes img{ 
    padding: 5px;
  
  }
<!--para que me funcione de nuevo en las paginas originales-->

  .header{
    display: flex
  }

  <!--listas-->
  /*Aca empieza la nav anterior
  ul{
    list-style-type: none;
    padding: 5px;
  }
  
  
  

  .listas{
    width: 80%;
    align-content: right;
    padding-left: 10px;
    padding-right: 50px;
  
  }
  
  
  .listas1{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .nav{
    float: right;
  
  }
  
  .izq{
    float: left;
  }
  
  .der{
    float: right;
  }
  
  .nav > li{
    margin: 0px 12px 0 12px;
    padding-top: 5px;
    padding-right: 50%;
    float: right;
    }
  
  .nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
  }
  
  .nav li:hover > ul {
    display: block;
    background-color: black;
    color: white;
    margin-top: 25px;
  }
  /**/
  <header>
    <div class="titulo1">
        <p>Agustina Vujovich</p>
    </div>
    <div class="listas">
        <ul class="nav">
         
         <div class="listas1">
           <li>
             <a href="shop.html" class="izq">SHOP</a> 
          </li>
         </div>
   
         <div class="listas1">
           <li>
             <a href="ilustraciones.html" class="der">ILUSTRACIONES</a>
          </li>
          </div>

           <div class="listas1">
           <li>
             <a href="producciones.html" class="der">PRODUCCIONES</a>
          <ul>
             <li><a href="memoriavivida.html" class="izq">MEMORIA VIVIDA</a></li><br>
             <li><a href="derrocheostentoso.html" class="izq">DERROCHE OSTENTOSO</a></li><br>
             <li><a href="tribu.html" class="izq">TRIBU</a></li><br>
             <li><a href="marca.html" class="izq">MARCA</a></li>
             <li><a href="danzadisruptiva.html" class="izq">DANZA DISRUPTIVA</a></li><br>
             <li><a href="goldenrain.html" class="izq">GOLDEN RAIN</a></li><br>
             <li><a href="unbreakabledenim.html" class="izq">UNBREAKABLE DENIM</a></li><br>
             <li><a href="rumor.html" class="izq">RUMOR</a></li>
          </ul>
          </li>
          </div>

           <div class="listas1">
           <a href="index.html" class="der">HOME</a>
          </div>
   </ul>
   </div>
   </header>
<!--grids-->
   <div class="parent-grid">
    <div class="parent-mug">
      <img class="itemMug" src="IMG/mug.jpg" width="40%"></div>
    <div class="parent-info">
      <h1>TAZA LINEAS</h1>
    <p>Taza de cerámica blanca.<br>Diseño realizado por computadora.<br>Apto para microondas.</p>
    <h2>$1350</h2>
    <button>Añadir al carrito</button>
    </div>
</div>

<input type="submit" value="Añadir al carrito">

<div class="header">
  <span class="titulo1">Agustina Vujovich</span>
<div class="header-right">
  <a href="index.html">HOME</a>
  <a href="producciones.html">PRODUCCIONES</a>
  <a href="ilustraciones.html">ILUSTRACIONES</a>
  <a href="shop.html">SHOP</a>  
  <div class="cursor"></div>
</div>
</div>