<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derroche ostentoso</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
 <header>
    <div class="titulo1">
        <p>Agustina Vujovich</p>
    </div>
    <div class="listas">
        <ul class="nav">
         
         <div class="listas1">
           <li>
             <a href="shop.html" class="izq">SHOP</a> 
          </li>
         </div>
   
         <div class="listas1">
           <li>
             <a href="ilustraciones.html" class="der">ILUSTRACIONES</a>
          </li>
          </div>

           <div class="listas1">
           <li>
             <a href="producciones.html" class="der">PRODUCCIONES</a>
          <ul>
             <li><a href="memoriavivida.html" class="izq">MEMORIA VIVIDA</a></li><br>
             <li><a href="derrocheostentoso.html" class="izq">DERROCHE OSTENTOSO</a></li><br>
             <li><a href="tribu.html" class="izq">TRIBU</a></li><br>
             <li><a href="marca.html" class="izq">MARCA</a></li>
             <li><a href="danzadisruptiva.html" class="izq">DANZA DISRUPTIVA</a></li><br>
             <li><a href="goldenrain.html" class="izq">GOLDEN RAIN</a></li><br>
             <li><a href="unbreakabledenim.html" class="izq">UNBREAKABLE DENIM</a></li><br>
             <li><a href="rumor.html" class="izq">RUMOR</a></li>
          </ul>
          </li>
          </div>

           <div class="listas1">
           <a href="index.html" class="der">HOME</a>
          </div>
   </ul>
   </div>
   </header>
   <br>
   <br>
   <br>
   <br>
   <div class="descripcion">
   <h1>DERROCHE OSTENTOSO</h1>
   <p>
      La denominacion de Felices años veinte corresponde al período de prosperidad que tuvo Estados Unidos<br>
      desde 1922 hasta 1929. Esta prosperidad benefició a toda la sociedad e hizo que la economía siguiera creciendo
      a un ritmo que no se había registrado antes. <br> La idea principal de la producción es mostrar de manera proyectual
      el derroche y la ostentación que se produjo en la decada del 20'. La serie retoma signos de la comida y la bebida, característicos <br>
      de la década, en combinación con signos de las flappers como las perlas y joyas que vestían; generando así un efecto de extrañeza. 
   </p>
</div>
<hr>
   <br>
   <br>
   <br>
   <div style="position: relative; margin-left: 200px;">
   <img src="IMG/derroche1.png" width="85%">
   <img src="IMG/derroche2.jpg" width="85%">
   <img src="IMG/derroche3.jpg" width="85%">
   <img src="IMG/derroche4.png" width="85%">
   <img src="IMG/derroche5.png" width="85%">
   <img src="IMG/derroche6.png" width="85%">
   </div>
   <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <footer>
      <div class="parent" >
      <div class="parent-p">
        <p>Agustina Vujovich</p>
      </div>
      <div class="parent-redes">
        <a href="https://www.linkedin.com/in/agustina-vujovich-b8a201117/"><img src="IMG/linkedin.png" width="30"></a>
        <a href="https://www.instagram.com/agusvujovich/"><img src="IMG/instagram.png" width="30"></a>
      </div>
      <div class="prent-items">
        <a href="aboutme.html">SOBRE MI</a>
        <a href="contacto.html">CONTACTO</a>
       </div>
      </div>
      </footer>
</body>