<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="estilismos, moda, gestion de tendencia, estética, narrativa, arte, movimiento, colores vibrantes, fotografía, sesión fotográfica">
    <meta name="description" content="El rumor tomado como indice estetico para generar una nueva tendencia en distintos universos, para un mismo consumidor estetizado. ">
    <title>Rumor/Agustina Vujovich</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">Agustina Vujovich</div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="../views/producciones.html">PRODUCCIONES</a></li>
        <li><a href="../views/ilustraciones.html">ILUSTRACIONES</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
</nav>
<div class="descripcion">
    <h1>RUMOR</h1>
    <p>
    A partir de la palabra RUMOR y con la busqueda de su significado, se llega a la premisa Osilacion expansiva. La creación de una nueva micro-tendencia que tiene como objetivo interpelar diferentes universos de un mismo consumidor. El objetivo principal fue reflejar en el concepto una re-significación positiva. La osilación expansiva se define como un movimiento constante, repetitivo, y ondulatorio, con un poder de extenderse a lo largo del tiempo. A esta micro-tendencia se le agregó la identidan nacional argentina, entendida como "la pasión trascendental". Los argentinos somos pasionales natos y lo llevamos a cada rama de nuestra vida habitual. El trabajo final integrador se baso en plasmar esta Osilación expansiva y Pasion Trascendental en una bicicleta, una carpa, unos canteojos, un choripan, un bolso y un consumidor potencial. 
    </p>
</div>
<div class="row">
    <div class="column">
        <img  alt="modelo cubierta por formas de tela plastica" src="../IMG/rumor1.jpeg">
        <img alt="modelo sosteniendo una cartera innovadora" src="../IMG/rumor2.jpeg">
        <img alt="modelo que se repite en la cancha" src="../IMG/rumor7.jpeg">
    </div>
    <div class="column">
        <img alt="modelo a través de una tela de colores" src="../IMG/rumor3.jpeg">
        <img alt="modelo usando anteojos innovadores" src="../IMG/rumor4.jpeg">  
    </div>
    <div class="column">
        <img alt="modelo agarrando cartera innovadora" src="../IMG/rumor6.jpeg">
        <img alt="choripan envuelto en aluminio en el espacio" src="../IMG/rumor8.jpeg">
        <img alt="modelo sosteniendo la bandeja de argentina en la cancha" src="../IMG/rumor5.jpeg"> 
    </div>
    <div class="column">
        <img alt="presentación de proyecto carpa y anteojos" src="../IMG/rumor10.jpeg">
        <img alt="presentación de proyecto bicicleta y bolso" src="../IMG/rumor9.jpeg">
        <img alt="dos manos sobre una tela de colores" src="../IMG/rumor11.jpeg">
    </div>
</div>
<hr>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#" ><i class="fab fa-linkedin"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Sobre mi</a></li>
            <li class="list-inline-item"><a href="#">Contacto</a></li>
        </ul>
        <p class="copyright">Agustina Vujovich</p>
    </footer>
<script src="app.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<body>
</html>
      