<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="estilismos, moda, tribu, colores vibrantes, fotografía, sesión fotográfica">
    <meta name="description" content="A partir de una tribu urbana, pudimos crear diferentes sistemas de conjuntos para un consumidor estetizado.">
    <title>Tribu/Agustina Vujovich</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">Agustina Vujovich</div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="../views/producciones.html">PRODUCCIONES</a></li>
        <li><a href="../views/ilustraciones.html">ILUSTRACIONES</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
</nav>
<div class="descripcion">
    <h1>TRIBU</h1>
    <p>
    Se entiende como tribu a un grupo de personas que comparten una serie de intereses y cuyos miembros se relacionan a partir de distintas afinidades. <br>
    A partir de una tribu urbana se produce la serie fotográfica, reformulando el sistema de conjunto y generando una licuefacción de ésta en un consumidor estetizado.
    </p>
</div>
<hr>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#" ><i class="fab fa-linkedin"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html">Home</a></li>
            <li class="list-inline-item"><a href="aboutme.html">Sobre mi</a></li>
            <li class="list-inline-item"><a href="contacto.html">Contacto</a></li>
        </ul>
        <p class="copyright">Agustina Vujovich</p>
    </footer>
<script src="app.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<body>
</html>